/* common */
body {
    font-family: 'Lato', sans-serif;
    color: #382f2e;
    font-size: 16px;
    line-height: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
}

p {
    font-weight: 700;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    line-height: 1;
}

h2 {
    font-size: 28px;
    line-height: 1.29;
}

h3 {
    font-size: 32px;
    line-height: 1.5;
}

h4 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 1.5;
}

/* extend bootstrap */
.py-2-sm {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.px-4-lg {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.py-lg {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.py-10 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.pb-6 {
    padding-bottom: 4rem;
}
.pb-7 {
    padding-bottom: 4.5rem;
}
.pb-8 {
    padding-bottom: 5rem;
}
.pb-9 {
    padding-bottom: 5.5rem;
}
.pb-10 {
    padding-bottom: 6rem;
}
.my-10 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.mb-6 {
    margin-bottom: 4rem;
}
.mb-7 {
    margin-bottom: 4.5rem;
}
.mb-8 {
    margin-bottom: 5rem;
}
.mb-9 {
    margin-bottom: 5.5rem;
}
.mb-10 {
    margin-bottom: 6rem;
}
.font-lato {
    font-family: 'Lato', sans-serif;
}
.font-bebas {
    font-family: 'Bebas Neue', cursive;
}
.align-items-center {
    display: flex;
    /* align-items: center; */  /*Aligns vertically center */
    justify-content: center; /*Aligns horizontally center */
    flex-direction: r;
}
.bg-brand-reverse-hover:hover {
    background-image: linear-gradient(45deg, #1f8fff 0%, #0b2ca9 100%);
}
.bg-brand {
    /* background-color: rgba(245,245,245,0.25); */
    background-image: linear-gradient(45deg, #0b2ca9 0%, #1f8fff 100%);
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-light-alpha {
    background-color: rgba(255,255,255,0.5);
}
.bg-light-semi {
    background-color: rgba(245,245,245,0.25);
}
.bg-brand-secendary {
    background-color: #382f2e;
}
.rounded-sm {
    border-radius: .5rem;
}
.rounded-md {
    border-radius: 1rem;
}
.rounded-lg {
    border-radius: 2rem;
}
.rounded-xl {
    border-radius: 3rem;
}
.font-sm {
    font-size: 75%;
}
.text-brand {
    color: #382f2e;
}
.text-blue-hover:hover {
    color: #0b2ca9;
}

/* header */
.navbar-brand.logo {
    max-width: 40px;
}
.navbar-brand.logo img {
    width: 100%;
}
.navbar .navbar-nav .nav-link {
    color: #382f2e;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 18px;
}
.navbar.sticky .navbar-nav .nav-link {
    font-size: 16px;
}

/* slider */
.feat-img {
    background-color: rgba(11, 44, 169, 0.35);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    border-width: 0px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    background-size: cover;
    /* text-align: center; */
    padding: 100px 0;
}

.feat-img .content {
    margin: 100px 0;
}

.feat-img img {
    max-width: 150px;
}

.feat-img h1, .feat-img h2 {
    color: #f5f5f5;
}

.separator {
    border: 0px solid #382f2e;
    border-top-width: 1px;
    width: 50%;
    display: inline-block;
}

footer {
    background-color: #382f2e;
}


.goto-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
}


/* page */
/* about */
.what-is img {
    max-width: 300px;
}

/* become-a-coach */
.program-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.program-item {
    min-height: 600px;
}