/* common */
body {
    font-family: 'Lato', sans-serif;
    color: #382f2e;
    font-size: 16px;
    line-height: 1.5rem;
    overflow: hidden;
    overflow-y: scroll;
}

p {
    font-weight: 700;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 90px;
    line-height: 1;
}

h2 {
    font-size: 28px;
    line-height: 1.29;
}

h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 32px;
    line-height: 1.5;
}

h4 {
    margin-bottom: 0px;
    font-size: 24px;
    line-height: 1.5;
}

/* extend bootstrap */
.py-2-sm {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.px-4-lg {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
}
.py-lg {
    padding-top: .75rem;
    padding-bottom: .75rem;
}
.py-10 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.pb-6 {
    padding-bottom: 4rem;
}
.pb-7 {
    padding-bottom: 4.5rem;
}
.pb-8 {
    padding-bottom: 5rem;
}
.pb-9 {
    padding-bottom: 5.5rem;
}
.pb-10 {
    padding-bottom: 6rem;
}
.my-10 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}
.mb-6 {
    margin-bottom: 4rem;
}
.mb-7 {
    margin-bottom: 4.5rem;
}
.mb-8 {
    margin-bottom: 5rem;
}
.mb-9 {
    margin-bottom: 5.5rem;
}
.mb-10 {
    margin-bottom: 6rem;
}
/* .font-lato { */
small {
    font-family: 'Lato', sans-serif;
}
/* .font-bebas { */
.counter, .wid-title {
    font-family: 'Bebas Neue', cursive;
}
.align-items-center {
    display: flex;
    /* align-items: center; */  /*Aligns vertically center */
    justify-content: center; /*Aligns horizontally center */
}
.bg-brand-reverse-hover:hover {
    background-image: linear-gradient(45deg, #1f8fff 0%, #0b2ca9 100%);
}
.bg-brand {
    /* background-color: rgba(245,245,245,0.25); */
    background-image: linear-gradient(45deg, #0b2ca9 0%, #1f8fff 100%);
    background-position: center center;
    background-repeat: no-repeat;
}
.bg-light-alpha {
    background-color: rgba(255,255,255,0.5);
}
.bg-light-semi {
    background-color: rgba(245,245,245);
}
}
.bg-light-semi-alpha {
    background-color: rgba(245,245,245,0.25);
}
.bg-brand-secendary {
    background-color: #382f2e;
}
.rounded-sm {
    border-radius: .5rem;
}
.rounded-md {
    border-radius: 1rem;
}
.rounded-lg {
    border-radius: 2rem;
}
.rounded-xl {
    border-radius: 3rem;
}
.font-sm {
    font-size: 75%;
}
.text-brand {
    color: #382f2e;
}
.text-blue-hover:hover {
    color: #0b2ca9;
}

/* header */
.navbar-brand.logo {
    max-width: 40px;
}
.navbar-brand.logo img {
    width: 100%;
}
.navbar .navbar-nav .nav-link {
    color: #382f2e;
    font-family: 'Bebas Neue', cursive;
    font-weight: 400;
    letter-spacing: 0;
    font-size: 18px;
}
.navbar.sticky .navbar-nav .nav-link {
    font-size: 16px;
}

/* slider */
.feat-img {
    background-color: rgba(11, 44, 169, 0.35);
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: color-dodge;
    border-width: 0px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    background-size: cover;
    /* text-align: center; */
    padding: 30px 0;
}

.feat-img .content {
    margin: 100px 0;
}

.feat-img img {
    max-width: 150px;
}

.feat-img h1, .feat-img h2 {
    color: #f5f5f5;
}

.separator {
    border: 0px solid;
    border-top-width: 1px;
    width: 50%;
    display: inline-block;
}

footer {
    background-color: #382f2e;
}
.social-icons .icon {
    width: 40px;
    height: 40px;
    display: inline-block !important;
    text-align: center;
}
.social-icons .icon:hover {
    color: black;
}
.social-icons .icon svg {
    vertical-align: -webkit-baseline-middle;
    vertical-align: -moz-middle-with-baseline;
    font-size: 1.1333333333em;
}


.goto-top {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    padding: 10px 13px;
    cursor: pointer;
}


/* page */
/* about */
.what-is img {
    max-width: 300px;
}

/* become-a-coach */
.program-item {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.program-item {
    min-height: 600px;
}

/* home */
.counter {
    color: #0b2ca9;
    font-size: 90px;
    line-height: normal;
    text-align: center;
    background-color: #0b2ca9;
    background-image: linear-gradient(45deg, #0b2ca9, #85c2ff);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    font-weight: bold;
}

.what-is.video-intro {
    background-color: rgba(11, 44, 169, 0.5);
    background-position: center top;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    border-width: 0px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    background-size: cover;
    height: calc(100vh - 32px);
}
.video-play {
    width: 80px;
    height: 80px;
    text-align: center;
}
.video-play svg {
    width: 48px;
    height: 48px;
    fill: white;
    padding: 10px 20px;
}

.img-bg {
    background-color: rgba(11, 44, 169, 0.5);
    background-position: left top;
    background-repeat: no-repeat;
    border-width: 0px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    background-size: cover;
    /* height: calc(100vh); */
}

.bg-blend-color {
    background-blend-mode: color;
}

.secret-bg {
    background-color: rgba(31, 143, 255, 0.133);
    background-position: left bottom;
    background-repeat: no-repeat;
    background-blend-mode: color;
    border-width: 0px;
    border-color: rgb(226, 226, 226);
    border-style: solid;
    background-size: cover;
}
.secret-bg h3 {
    font-size: 36px;
    font-weight: 600;
}

/* pricing */
.video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    min-height: 100vh;
    min-width: 100vh;
    -webkit-transform-style: preserve-3d;
    background-size: cover;
}

.bg-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}

.pricing-table .title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
    overflow: hidden;
}

.strikethrough:before {
    position: absolute;
    max-width: 117px;
    content: "";
    left: 0;
    top: 50%;
    margin: auto;
    right: 0;
    border-top: 3px solid;
    border-color: #e64623;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
}

.price {
    text-align: center;
    color: rgb(31, 143, 255);
    font-size: 36px;
    font-weight: bold;
    --fontSize: 36;
    line-height: 1;
    --minFontSize: 36;
}

.regular-price {
    width: 120px;
    margin: auto;
}

.discount-off {
    position: absolute;
    right: -61%;
    top: -61%;
}

.off {
    text-align: left;
    color: rgb(230, 70, 35);
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5;
    --fontSize: 16;
    --minFontSize: 16;
}

.text-red {
    color: rgb(230, 70, 35);
}
.check-list ul {
    padding-left: 20px;
}
.check-list li {
    padding-left: 10px;
}

li.checks::marker {
    content: "✔";
    color: #1f8fff;
}

.bg-white-alpha {
    background-color: rgba(255,255,255,0.8);
}


.carousel-control-next, .carousel-control-prev {
    justify-content: flex-end;
}
.carousel-control-prev {
    justify-content: flex-start;
}